res/expressionSet.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="expressionSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="expression" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="feature" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="point" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="leftLineThickness" use="optional"/>
                            <xs:attribute type="xs:short" name="leftX" use="optional"/>
                            <xs:attribute type="xs:short" name="leftY" use="optional"/>
                            <xs:attribute type="xs:byte" name="rightLineThickness" use="optional"/>
                            <xs:attribute type="xs:short" name="rightX" use="optional"/>
                            <xs:attribute type="xs:short" name="rightY" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:float" name="participation" use="optional"/>
                  <xs:attribute type="xs:byte" name="size" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="aLabel" use="optional"/>
            <xs:attribute type="xs:byte" name="attack" use="optional"/>
            <xs:attribute type="xs:byte" name="bSustain" use="optional"/>
            <xs:attribute type="xs:byte" name="decay" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>